.container {
    width: 97%;
    height: 97%;
    position: absolute;
    font: 25px Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif
}

.shortform {
    position: relative;
    width: 700px;
    margin: 0 auto;
    top: 30%;
}

.text2short {
    height: 27px;
    font-size: 25px;
    background: url('/static/bg.gif');
    width: 100%;
}

.error {
    font-size: 20px;
    color: red;
    text-align: center;
}

.description {
    font-size: 15px;
    color: grey;
    text-align: center;
}

.short-another {width: 12%;top: 60%;}

a {color: blue;}

button {
    height: 33px;
    width: 60px;
    margin-left: 5px;
}

.url-input * {
    vertical-align: middle;
}

table {
    width: 100%;
}

.your-url {
    text-align: right;
}
